<form id="attribute-info-form" method="POST">
	<input type="hidden" name="id">
	<div class="form-group">
		<label for="name">Attribute Name</label>
		<input type="text" class="form-control" name="name" id="name"
			   {% if attribute is defined and attribute.name %}value="{{ attribute.name }}"{% endif %} required>
	</div>
	<div class="form-group">
		<label for="default">Default Value</label>
		<input type="text" class="form-control" name="default" id="default" {% if attribute is defined and attribute.default %} value="{{ attribute.default }}"{% endif %} required>
	</div>
	<div class="form-group">
		<label for="type">Field Type</label>
		<select class="form-control" id="field-input" name="type">
			<option></option>
			{% for type_value in types.keys() %}
				<option value="{{ type_value }}" {% if attribute is defined and attribute.type == type_value %}selected{% endif %}>
					{{ types[type_value] }}
				</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" name="hidden" id="hidden-checkbox"
				   {% if attribute is defined and attribute.hidden %}checked{% endif %}>
			<label class="form-check-label" for="hidden-checkbox">Hidden</label>
		</div>
	</div>
	<div id="results">

	</div>
	<button id="update-attribute" type="submit" class="btn btn-primary btn-outlined float-right modal-action">
		Submit
	</button>
</form>
