{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="jumbotron">
	<div class="container">
		<h1>Set Team Attribute</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "team_attribute.html" %}
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script>
	var ATTRIBUTE_ID = {{ attribute.id }};
	var TEAM_ID = {{ team.team_id }};
</script>
<script defer src="/plugins/CTFd_Team_Attributes/assets/admin/js/set_team_attribute.js"></script>
{% endblock %}
