{% if attributes is defined %}
{% for attribute in attributes %}
<div id="team-attr-modal-{{attribute.id}}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-action text-center w-100">{{attribute.name}}</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body clearfix">
				<form id="set-team-attr-form-{{attribute.id}}" method="POST">
					<input type="hidden" name="id">
					<input type="hidden" name="attr_id" {% if attribute is defined %}value="{{ attribute.id }}"{% endif %}>
					<input type="hidden" name="team_id" value="{{ team.id }}">
					<div class="form-group">
						{% if attribute is defined and types is defined %}
							{% if (team is defined) and (attribute.get_team_value(team.id) is defined )%}
								{% set val = attribute.get_team_value(team.id).value %}
							{% endif %}
							{% if types[attribute.type] == "checkbox" %}
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="value" id="value"
	{% if val is defined and val != "false" and val != "0" %}checked{% endif %}
									>
									<label class="form-check-label" for="value">{{ attribute.name }}</label>
								</div>
							{% elif types[attribute.type] == "password" %}
								<label for="value">{{ attribute.name }}</label>
								<input type="password" class="form-control" name="value" id="value"{% if val is defined %}value="{{ val }}"{% endif %}>
							{% elif types[attribute.type] == "number" %}
								<label for="value">{{ attribute.name }}</label>
								<input type="number" class="form-control" name="value" id="value"{% if val is defined %}value="{{ val }}"{% endif %}>
							{% elif types[attribute.type] == "textarea" %}
								<label for="value">{{ attribute.name }}</label>
								<textarea class="form-control" rows="5" id="value" name="value">{% if val is defined %}{{val}}{% endif %}</textarea>
							{% else %}
								<label for="value">{{ attribute.name }}</label>
								<input type="text" class="form-control" name="value" id="value"
{% if val is defined %}value="{{ val }}"{% endif %}>
							{% endif %}
						{% endif %}
					</div>
					<div id="results">
				
					</div>
					<button id="set-team-attribute-{{attribute.id}}" type="submit" class="btn btn-primary btn-outlined float-right modal-action">
						Submit
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
